<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chan.dao.AdvertiseDAO" >
  <resultMap id="BaseResultMap" type="com.chan.model.Advertise" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="advertisetment" property="advertisetment" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="datetime" property="datetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, advertisetment, money, datetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from advertise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.chan.model.Advertise" >
    select 
    <include refid="Base_Column_List" />
    from advertise
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="advertisetment != null" >
        and advertisetment = #{advertisetment,jdbcType=VARCHAR}
      </if>
      <if test="money != null" >
        and money = #{money,jdbcType=DOUBLE}
      </if>
      <if test="datetime != null" >
        and datetime = #{datetime,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByModelLike" resultMap="BaseResultMap" parameterType="com.chan.model.Advertise" >
    select 
    <include refid="Base_Column_List" />
    from advertise
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="advertisetment != null" >
        and advertisetment like CONCAT('%',#{advertisetment,jdbcType=VARCHAR},'%')
      </if>
      <if test="money != null" >
        and money = #{money,jdbcType=DOUBLE}
      </if>
      <if test="datetime != null" >
        and datetime like CONCAT('%',#{datetime,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from advertise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chan.model.Advertise" keyProperty="id" useGeneratedKeys="true" >
    insert into advertise (id, advertisetment, money, 
      datetime)
    values (#{id,jdbcType=INTEGER}, #{advertisetment,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, 
      #{datetime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chan.model.Advertise" keyProperty="id" useGeneratedKeys="true" >
    insert into advertise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="advertisetment != null" >
        advertisetment,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="advertisetment != null" >
        #{advertisetment,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chan.model.Advertise" >
    update advertise
    <set >
      <if test="advertisetment != null" >
        advertisetment = #{advertisetment,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chan.model.Advertise" >
    update advertise
    set advertisetment = #{advertisetment,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      datetime = #{datetime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="deleteLogicByIds" >
    update advertise set deleteFlag = #{deleteFlag,jdbcType=INTEGER} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>